.warning{
    height: 60px;
    width: 250px;
    position: absolute;
    left: 45%;
    top: 10%;
    background-color: rgb(255, 0, 0);
    font-size: 1.1rem;
    color: white;
    font-family: cursive;
    padding: 10px;
    border-radius: 5px;
    padding-bottom: 5px;
}